CS/CS.NET-VB.NET/ASP.NET 4.0 Book/Source/Chapter 22/CS/DataSharingWebService/App_WebReferences/localhost/TypeSharingWebService1CS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtainEmpDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtainEmpDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtainEmpDetailResult" type="tns:EmpDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmpDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmpFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpMiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpDesignation" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtainEmpDetailSoapIn">
    <wsdl:part name="parameters" element="tns:ObtainEmpDetail" />
  </wsdl:message>
  <wsdl:message name="ObtainEmpDetailSoapOut">
    <wsdl:part name="parameters" element="tns:ObtainEmpDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="TypeSharingWebService1CSSoap">
    <wsdl:operation name="ObtainEmpDetail">
      <wsdl:input message="tns:ObtainEmpDetailSoapIn" />
      <wsdl:output message="tns:ObtainEmpDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TypeSharingWebService1CSSoap" type="tns:TypeSharingWebService1CSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtainEmpDetail">
      <soap:operation soapAction="http://tempuri.org/ObtainEmpDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TypeSharingWebService1CSSoap12" type="tns:TypeSharingWebService1CSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtainEmpDetail">
      <soap12:operation soapAction="http://tempuri.org/ObtainEmpDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TypeSharingWebService1CS">
    <wsdl:port name="TypeSharingWebService1CSSoap" binding="tns:TypeSharingWebService1CSSoap">
      <soap:address location="http://localhost:1056/DataSharingWebService/TypeSharingWebService1CS.asmx" />
    </wsdl:port>
    <wsdl:port name="TypeSharingWebService1CSSoap12" binding="tns:TypeSharingWebService1CSSoap12">
      <soap12:address location="http://localhost:1056/DataSharingWebService/TypeSharingWebService1CS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>