CS/CS.NET-VB.NET/ASP.NET 4.0 Book/Source/Chapter 19/CS/DataBindinginSilverlightCS/DataBindinginSilverlightCS/Service References/ServiceReference1/MyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6203/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataBindinginSilverlightCS.Web" />
  <xs:element name="GetByLastName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLastNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataBindinginSilverlightCS.Web" minOccurs="0" name="GetByLastNameResult" nillable="true" type="q1:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>