CS/CS.NET/Visual Studio/SILV3_PerformingDML/SILV3_PerformingDML/SILV3_PerformingDML/SILV3-DMLClientApplication/Service References/MyRef/CDMLService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CDMLService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mahesh-pc/WCF_DML_Serv/CDMLService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mahesh-pc/WCF_DML_Serv/CDMLService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mahesh-pc/WCF_DML_Serv/CDMLService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_DMLService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDMLService_CreateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="IDMLService_CreateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IDMLService_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IDMLService_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IDMLService_DeleteEmployeeByEmpNo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeByEmpNo" />
  </wsdl:message>
  <wsdl:message name="IDMLService_DeleteEmployeeByEmpNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeByEmpNoResponse" />
  </wsdl:message>
  <wsdl:message name="IDMLService_GetAllEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployee" />
  </wsdl:message>
  <wsdl:message name="IDMLService_GetAllEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IDMLService">
    <wsdl:operation name="CreateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMLService/CreateEmployee" message="tns:IDMLService_CreateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMLService/CreateEmployeeResponse" message="tns:IDMLService_CreateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMLService/UpdateEmployee" message="tns:IDMLService_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMLService/UpdateEmployeeResponse" message="tns:IDMLService_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeByEmpNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMLService/DeleteEmployeeByEmpNo" message="tns:IDMLService_DeleteEmployeeByEmpNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMLService/DeleteEmployeeByEmpNoResponse" message="tns:IDMLService_DeleteEmployeeByEmpNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMLService/GetAllEmployee" message="tns:IDMLService_GetAllEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMLService/GetAllEmployeeResponse" message="tns:IDMLService_GetAllEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDMLService" type="tns:IDMLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/IDMLService/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IDMLService/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeByEmpNo">
      <soap:operation soapAction="http://tempuri.org/IDMLService/DeleteEmployeeByEmpNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <soap:operation soapAction="http://tempuri.org/IDMLService/GetAllEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDMLService">
    <wsdl:port name="BasicHttpBinding_IDMLService" binding="tns:BasicHttpBinding_IDMLService">
      <soap:address location="http://mahesh-pc/WCF_DML_Serv/CDMLService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>