BizTalk Server /BTS06/bts on 192.168.1.4/Msi/Program Files/SDK/SO/BTSSoln/ORCHES1/Stub/WEBREF1/STUBSA1/StubSAPWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Microsoft.Samples.Biztalk.WoodgroveBank.CustomerService/SAP/" xmlns:s1="http://schemas.microsoft.com/BizTalk/2003" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://Microsoft.Samples.Biztalk.WoodgroveBank.CustomerService/SAP/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Microsoft.Samples.Biztalk.WoodgroveBank.CustomerService/SAP/">
      <s:import namespace="http://schemas.microsoft.com/BizTalk/2003" />
      <s:element name="GetAccountDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:BAPI_BANKACCT_GET_DETAIL_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:BAPI_BANKACCT_GET_DETAIL_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/BizTalk/2003">
      <s:element name="BAPI_BANKACCT_GET_DETAIL_Request" type="s1:BAPI_BANKACCT_GET_DETAIL_Request" />
      <s:complexType name="BAPI_BANKACCT_GET_DETAIL_Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="I_ACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="I_BANKKEY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="I_COUNTRY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="I_LANGUAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="T_BALANCE" type="s1:BAPI_BANKACCT_GET_DETAIL_RequestT_BALANCE" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="T_LIMIT" type="s1:BAPI_BANKACCT_GET_DETAIL_RequestT_LIMIT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BAPI_BANKACCT_GET_DETAIL_RequestT_BALANCE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BALDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BALANCE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BAPI_BANKACCT_GET_DETAIL_RequestT_LIMIT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LIMTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TXTLIMTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LIMSUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LIM_CUR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REFLIMIT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TXTREFLIM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="VALID_FROM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="VALID_TO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LIM_OK" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BAPI_BANKACCT_GET_DETAIL_Response" type="s1:BAPI_BANKACCT_GET_DETAIL_Response" />
      <s:complexType name="BAPI_BANKACCT_GET_DETAIL_Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="E_ACCOUNT" type="s1:BAPI_BANKACCT_GET_DETAIL_ResponseE_ACCOUNT" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="E_BALANCE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="E_RC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="T_BALANCE" type="s1:BAPI_BANKACCT_GET_DETAIL_ResponseT_BALANCE" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="T_LIMIT" type="s1:BAPI_BANKACCT_GET_DETAIL_ResponseT_LIMIT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BAPI_BANKACCT_GET_DETAIL_ResponseE_ACCOUNT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BANKAREA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="COMPANY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="OPENDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DELDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="STATUS_ADD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="IBAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ACCTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TXTACCTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ACCTEXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CURRENCY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CURRENCY_OLD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="NOSTRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PRODEXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="VERSION" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BAPI_BANKACCT_GET_DETAIL_ResponseT_BALANCE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BALDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="BALANCE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BAPI_BANKACCT_GET_DETAIL_ResponseT_LIMIT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LIMTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TXTLIMTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LIMSUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LIM_CUR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REFLIMIT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TXTREFLIM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="VALID_FROM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="VALID_TO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LIM_OK" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountDetails" />
  </wsdl:message>
  <wsdl:message name="GetAccountDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="StubSAPWSSoap">
    <wsdl:operation name="GetAccountDetails">
      <wsdl:input message="tns:GetAccountDetailsSoapIn" />
      <wsdl:output message="tns:GetAccountDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StubSAPWSSoap" type="tns:StubSAPWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetAccountDetails">
      <soap:operation soapAction="http://Microsoft.Samples.Biztalk.WoodgroveBank.CustomerService/SAP/GetAccountDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StubSAPWSSoap12" type="tns:StubSAPWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetAccountDetails">
      <soap12:operation soapAction="http://Microsoft.Samples.Biztalk.WoodgroveBank.CustomerService/SAP/GetAccountDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StubSAPWS">
    <wsdl:port name="StubSAPWSSoap" binding="tns:StubSAPWSSoap">
      <soap:address location="http://localhost/Microsoft.Samples.BizTalk.WoodgroveBank.StubSAP/StubSAPWS.asmx" />
    </wsdl:port>
    <wsdl:port name="StubSAPWSSoap12" binding="tns:StubSAPWSSoap12">
      <soap12:address location="http://localhost/Microsoft.Samples.BizTalk.WoodgroveBank.StubSAP/StubSAPWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
