CS/CS.NET-VB.NET/ASP.NET 4.0 Book/Source/Chapter 22/CS/CallingCachedWebService/App_WebReferences/localhost/CachedWebServiceCS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCacheResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCacheResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCacheResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCacheResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetCacheResult" />
  </wsdl:message>
  <wsdl:message name="GetCacheResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetCacheResultResponse" />
  </wsdl:message>
  <wsdl:portType name="CachedWebServiceCSSoap">
    <wsdl:operation name="GetCacheResult">
      <wsdl:input message="tns:GetCacheResultSoapIn" />
      <wsdl:output message="tns:GetCacheResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CachedWebServiceCSSoap" type="tns:CachedWebServiceCSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCacheResult">
      <soap:operation soapAction="http://tempuri.org/GetCacheResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CachedWebServiceCSSoap12" type="tns:CachedWebServiceCSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCacheResult">
      <soap12:operation soapAction="http://tempuri.org/GetCacheResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CachedWebServiceCS">
    <wsdl:port name="CachedWebServiceCSSoap" binding="tns:CachedWebServiceCSSoap">
      <soap:address location="http://localhost:2133/CallingCachedWebService/CachedWebServiceCS.asmx" />
    </wsdl:port>
    <wsdl:port name="CachedWebServiceCSSoap12" binding="tns:CachedWebServiceCSSoap12">
      <soap12:address location="http://localhost:2133/CallingCachedWebService/CachedWebServiceCS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>