CS/CS.NET/Visual Studio/WCF_Routing_Service_RC1/Mahesh_WCF_Routing_Service_RC1/WPF_Client_RoutingService/Service References/MyRefQtrSales/CQtrwiseSales2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://admin-pc/WCF40_QtrwiseSalesVD/CQtrwiseSales.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_ServiceQtrwsieSales" />
  <xs:element name="GetSalesDetsils">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesDetsilsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_ServiceQtrwsieSales" minOccurs="0" name="GetSalesDetsilsResult" nillable="true" type="q1:ArrayOfSales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>