CS/CS.NET/Visual Studio/SILV3_UserControlNAvigation/SILV3_UserControlNAvigation/SILV3_UserControlNAvigation/SILV3_UserControlNAvigation/Service References/MyRef/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mahesh-pc/SILV3_Navigation_VD/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Service" />
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Service" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>