CS/CS.NET/Visual Studio/SILV4_Commanding/SILV4_ICommand_Application/Silverlight.Com.View.Client/Service References/MyRef/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclsEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsEmployee" nillable="true" type="tns:clsEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsEmployee" nillable="true" type="tns:ArrayOfclsEmployee" />
  <xs:complexType name="clsEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeptNo" type="xs:int" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpNo" type="xs:int" />
      <xs:element minOccurs="0" name="Salary" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsEmployee" nillable="true" type="tns:clsEmployee" />
</xs:schema>