CS/CS.NET/Visual Studio/WCF_Routing_Service_RC1/Mahesh_WCF_Routing_Service_RC1/WPF_ClientApp/Service References/MyRefQtrwiseSales/CQtrwiseSales2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ServiceQtrwsieSales" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ServiceQtrwsieSales" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sales" nillable="true" type="tns:Sales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSales" nillable="true" type="tns:ArrayOfSales" />
  <xs:complexType name="Sales">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Q1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q3" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q4" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sales" nillable="true" type="tns:Sales" />
</xs:schema>